twolinkman:
  joint_state_controller:
   type: joint_state_controller/JointStateController
   publish_rate: 50
  rear_joint_position_controller:
   type: effort_controllers/JointPositionController
   joint: rear_joint
   pid: {p: 100.0, i: 0.01, d: 10.0}
  front_joint_position_controller:
   type: effort_controllers/JointPositionController
   joint: front_joint
   pid: {p: 100.0, i: 0.01, d: 10.0}
