<launch>
	<rosparam file="$(find twolinkman)/config/twolinkman_control.yaml" command="load"/>
	<node name="rear_pid" pkg="pid" type="controller" >
      <param name="Kp" value="1.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="500" />
      <param name="lower_limit" value="-500" />
      <param name="windup_limit" value="3"/>
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
  </node>
	<node name="control_spawner" pkg="controller_manager" type="spawner" respawn="false" 
		output="screen" ns="/twolinkman" args="joint_state_controller rear_joint_position_controller front_joint_position_controller	"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/twolinkman/joint_states" />
	</node>
</launch>
